@import "normalize";
@import "icons";

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

sub {
  bottom: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  font-size: 5rem;
}

.icon {
  font-size: 1.2rem;
  align-self: flex-start;
  margin-top: .5rem;
}

.icon .weather {
  font-size: 2rem;
  margin-bottom: .5rem;
}

.cell {
  margin-right: 2%;
}

.inverted {
  color: white;
  background: black;
}

#outer-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#wrapper {
  transform: translateX(0);
  transition: transform .6s ease;
  &.expanded {
    transform: translateX(186px);
  }
}

#pushover-menu {
  height: 100%;
  width: 186px;
  position: absolute;
  top: 0;
  left: -186px;
}

.icon-sunny,
.icon-clear {
  @extend .icon-sun;
}

.icon-mostlysunny,
.icon-partlysunny,
.icon-partlycloudy {
  @extend .icon-cloud;
}

.icon-cloudy,
.icon-mostlycloudy,
.icon-hazy,
.icon-nt_hazy,
[class^="icon-chance"] {
  @extend .icon-overcast;
}

.icon-tstorms {
  @extend .icon-showers;
}

.icon-flurries,
.icon-sleet,
.icon-snow {
  @extend .icon-snow;
}

.icon-fog {
  @extend .icon-fog;
}
