@import "normalize";
@import "icons";

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.horizontal {
  display: flex;
  align-items: center;
}

.main {
  font-size: 5rem;
}

.icon {
  font-size: 1.2rem;
  align-self: flex-start;
  margin-top: 1rem;
}

.cell {
  margin-right: 2%;
}

.icon-sunny,
.icon-clear {
  @extend .icon-sun;
}

.icon-nt_sunny,
.icon-nt_clear {
  @extend .icon-moon;
}

.icon-mostlysunny,
.icon-nt_mostlysunny,
.icon-partlysunny,
.icon-nt_partlysunny,
.icon-partlycloudy,
.icon-nt_partlycloudy {
  @extend .icon-cloud;
}

.icon-cloudy,
.icon-nt_cloudy,
.icon-mostlycloudy,
.icon-nt_mostlycloudy,
.icon-hazy,
.icon-nt_hazy,
[class^="icon-chance"],
[class^="icon-nt_chance"] {
  @extend .icon-overcast;
}

.icon-chancerain,
.icon-nt_chancerain {
  @extend .icon-rain;
}
.icon-tstorms {
  @extend .icon-thunderstorm;
}

.icon-flurries,
.icon-nt_flurries,
.icon-sleet,
.icon-nt_sleet,
.icon-snow,
.icon-nt_snow {
  @extend .icon-snow;
}

.icon-fog,
.icon-nt_fog {
  @extend .icon-fog;
}
